---
layout: default
meta_title: Home
meta_description: The Tinkerers
body_class: home
title: Welcome to The Tinkerers!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            Nothing to see here yet. Check out <a href="/the-tinkerers.com/blog">our blog</a>

        </div>

    </section>

</main>


